trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  GRADLE_CACHE_FOLDER: $(Pipeline.Workspace)/.gradle/caches
  azureSubscription: "b633537a-1cd0-44f4-a6aa-c98da4fa9652" 
  containerRegistry: "connectionacr"                        
  acrLoginServer: "2tds251cp6559123.azurecr.io"             
  repositoryName: "transactionapi"
  webAppName: "2tds251cp6559123"
  resourceGroup: "rg-cp6-2tds"
  location: "brazilsouth"

stages:
  - stage: Build
    displayName: "Build Stage"
    jobs:
      - job: Gradle_Build
        displayName: "Build do Projeto com Gradle"
        steps:
          - script: mkdir -p $(GRADLE_CACHE_FOLDER)
            displayName: "Criar pasta de cache do Gradle"

          - task: Cache@2
            inputs:
              key: 'gradle | "$(Agent.OS)" | **/build.gradle.kts'
              restoreKeys: |
                gradle | "$(Agent.OS)"
                gradle
              path: $(GRADLE_CACHE_FOLDER)
            displayName: "Restaurar cache do Gradle"

          - task: Gradle@3
            inputs:
              workingDirectory: ''
              gradleWrapperFile: 'gradlew'
              gradleOptions: '-Xmx3072m'
              publishJUnitResults: false
              tasks: 'clean build'
            displayName: "Executar build com Gradle"

          # Login no ACR
          - task: Docker@2
            displayName: "Login no Azure Container Registry"
            inputs:
              command: login
              containerRegistry: $(containerRegistry)

          # Build e Push da imagem
          - task: Docker@2
            displayName: "Build e Push da imagem Docker"
            inputs:
              command: buildAndPush
              containerRegistry: $(containerRegistry)
              repository: $(repositoryName)
              Dockerfile: '**/Dockerfile'
              tags: |
                latest

  - stage: Deploy
    displayName: "Deploy Stage"
    dependsOn: Build
    jobs:
      - deployment: DeployWebApp
        displayName: "Deploy no Azure Web App"
        environment: "production"
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: "Publicar no Azure Web App"
                  inputs:
                    azureSubscription: $(azureSubscription)
                    appName: $(webAppName)
                    imageName: "$(acrLoginServer)/$(repositoryName):latest"
