trigger:
  - main

pool:
  vmImage: ubuntu-latest

variables:
  GRADLE_CACHE_FOLDER: $(Pipeline.Workspace)/.gradle/caches
  azureSubscription: "b633537a-1cd0-44f4-a6aa-c98da4fa9652"
  containerRegistry: "connectionacr"
  repositoryName: "transactionapi"
  webAppName: "2tds251cp6559123"
  aciName: "2tdscp6559123acr"
  resourceGroup: "rg-cp6-2tds"
  location: "brazilsouth"


stages:
  - stage: Build
    displayName: "Build stage"
    jobs:
      - job: Gradle_Build
        displayName: "Gradle Package"
        steps:
          - task: Cache@2
            inputs:
              key: 'gradle | "$(Agent.OS)" | **/build.gradle.kts'
              restoreKeys: |
                gradle | "$(Agent.OS)"
                gradle
              path: $(GRADLE_CACHE_FOLDER)

          - task: Gradle@3
            inputs:
              workingDirectory: ''
              gradleWrapperFile: 'gradlew'
              gradleOptions: '-Xmx3072m'
              publishJUnitResults: false
              tasks: 'clean build'

          - task: Docker@2
            inputs:
              containerRegistry: $(containerRegistry)
              repository: $(repositoryName)
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
              tags: |
                latest

  - stage: Deploy
    displayName: "Deploy stage"
    dependsOn: Build
    jobs:
      - deployment: DeployWebApp
        environment: "production"
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  inputs:
                    azureSubscription: $(azureSubscription)
                    appName: $(webAppName)
                    imageName: "$(repositoryName):latest"
                    containerRegistry: "$(containerRegistry)"
