trigger:
  - main

pool:
  vmImage: ubuntu-latest

variables:
  GRADLE_CACHE_FOLDER: $(Pipeline.Workspace)/.gradle/caches
  azureSubscription: "b633537a-1cd0-44f4-a6aa-c98da4fa9652" # Service Connection da sua amiga
  containerRegistry: "connectionacr"        # Nome do Service Connection do ACR
  acrLoginServer: "connectionacr.azurecr.io" # URL do ACR
  repositoryName: "transactionapi"
  webAppName: "2tds251cp6559123"
  aciName: "2tdscp6559123acr"
  resourceGroup: "rg-cp6-2tds"
  location: "brazilsouth"

stages:
  - stage: Build
    displayName: "Build stage"
    jobs:
      - job: Gradle_Build
        displayName: "Gradle Package"
        steps:
          - script: mkdir -p $(GRADLE_CACHE_FOLDER)
            displayName: "Criar pasta de cache do Gradle"

          - task: Cache@2
            inputs:
              key: 'gradle | "$(Agent.OS)" | **/build.gradle.kts'
              restoreKeys: |
                gradle | "$(Agent.OS)"
                gradle
              path: $(GRADLE_CACHE_FOLDER)

          - task: Gradle@3
            inputs:
              workingDirectory: ''
              gradleWrapperFile: 'gradlew'
              gradleOptions: '-Xmx3072m'
              publishJUnitResults: false
              tasks: 'clean build'

          # Login no ACR antes de build/push
          - task: Docker@2
            displayName: "Login no ACR"
            inputs:
              command: login
              containerRegistry: $(containerRegistry)

          # Build e push da imagem
          - task: Docker@2
            displayName: "Build e Push Docker"
            inputs:
              command: buildAndPush
              containerRegistry: $(containerRegistry)
              repository: $(repositoryName)
              Dockerfile: '**/Dockerfile'
              tags: |
                latest

  - stage: Deploy
    displayName: "Deploy stage"
    dependsOn: Build
    jobs:
      - deployment: DeployWebApp
        environment: "production"
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: "Deploy no Web App"
                  inputs:
                    azureSubscription: $(azureSubscription)
                    appName: $(webAppName)
                    imageName: "$(acrLoginServer)/$(repositoryName):latest"
                    containerRegistry: "$(containerRegistry)"
